@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Hebrew:wght@100..900&display=swap");

:root {
    --font-m: "Montserrat", sans-serif;
    --font-n: "Noto Sans Hebrew", sans-serif;
    --light-blue: #9ee6ff;
    --blue: #00739c;
    --yellow: #fdb933;
    --grey: #565656;
    --light-grey: #d9d9d933;
    --medium-grey: #858585;
}

html {
    scroll-behavior: smooth;
}

body {
    direction: rtl;
}

.ms-section {
    padding: 60px 20px;
}

.ms-preview-container {
    max-width: 1244px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.ms-swiper-btn {
    position: absolute;
    top: 50%;
    transform: translate(0, calc(-50% - 30px));
    cursor: pointer;
    z-index: 1;
}

.ms-swiper-prev {
    left: 0;
}

.ms-swiper-next {
    right: 0;
}

.ms-main-title {
    color: #fff;
    font: 800 75px/1 var(--font-n);
}

.ms-main-title strong {
    color: var(--light-blue);
}

.ms-transparent-link {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-inline-start: 25px;
    padding-inline-end: 7px;
    color: #fff;
    font: 700 16px/1 var(--font-n);
    display: flex;
    align-items: center;
    gap: 30px;
    border-radius: 50px;
    border: 1px solid #fff;
    width: max-content;
    height: 55px;
}

.ms-transparent-link-arrow-container {
    aspect-ratio: 1/1;
    height: 100%;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.ms-container--small {
    max-width: 968px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.ms-section-border {
    position: absolute;
    bottom: -2px;
    left: 0;
    z-index: 1;
}

.ms-card-shadow {
    box-shadow: 0px 77px 46px 0px #0000000d;
}

.ms-font--normal-bold-n {
    font: 700 18px/1 var(--font-n);
}

.ms-font--normal-bold-m {
    font: 700 18px/1 var(--font-m);
}

.ms-font--large-normal-n {
    font: 700 20px/1.1 var(--font-n);
    color: #fff;
}

.ms-font--small-normal-bold-m {
    font: 500 16px/1 var(--font-m);
}

.ms-font--white-f-opacity {
    color: #ffffff80;
}

.ms-blue-transparent-btn {
    border: 1px solid var(--blue);
    padding: 25px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    color: var(--blue);
    font: 700 26px/1 var(--font-m);
}

.ms-aside {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.ms-aside.active {
    opacity: 1;
    visibility: visible;
}

.ms-aside--left {
    left: 0;
}

.ms-aside--right {
    right: 0;
}

.ms-aside-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ms-aside-link {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    align-items: center;
    text-align: center;
}

.ms-aside-link-text {
    font: 600 12px/1 var(--font-n);
    max-width: 70px;
}

.ms-aside--right .ms-aside-link {
    border-radius: 15px 0 0 15px;
}

.ms-aside--left .ms-aside-link {
    border-radius: 0 15px 15px 0;
}

.ms-aside-link-blue {
    background: var(--blue);
    color: #fff;
}

.ms-aside-link-transparent {
    background: #fff;
    border: 1px solid #00769e1a;
}

.ms-head {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 50px;
    justify-content: center;
}

.ms-title-link {
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 42px;
    width: 100%;
    background: var(--yellow);
    border-radius: 50%;
}

.ms-title {
    font: 800 38px/1 var(--font-n);
    color: var(--grey);
    padding: 20px 0;
    position: relative;
}

.ms-title::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 48px;
    height: 5px;
    background: var(--blue);
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.ms-title strong {
    color: var(--blue);
}

.ms-section--grey {
    background: var(--light-grey);
}

.ms-container {
    max-width: 1240px;
    margin: 0 auto;
    width: 100%;
}

.ms-swiper {
    padding-bottom: 60px !important;
    position: relative;
}

.ms-swiper-pagination {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.ms-swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #00739c66;
    opacity: 1;
}

.ms-swiper-pagination .swiper-pagination-bullet-active {
    background: var(--blue);
}

.ms-news-card,
.ms-video-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ms-news-card-img {
    aspect-ratio: 18/13;
    width: 100%;
    border-radius: 15px;
}

.ms-news-card-head,
.ms-video-card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ms-news-card-title,
.ms-video-card-title {
    color: var(--grey);
    font: 700 20px/1 var(--font-m);
}

.ms-news-card-date,
.ms-video-card-date {
    font: 500 16px/1 var(--font-m);
    color: var(--medium-grey);
}

.ms-news-card-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--blue);
    font: 600 16px/1 var(--font-m);
}

.ms-video-card {
    cursor: pointer;
}

.ms-video-card-img-container {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ms-video-card-img-container::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    left: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #003d5280;
}

.ms-video-card-img {
    height: 100%;
}

.ms-swiper-main-video {
    padding: 0 20px;
}

.ms-video-card-play-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border: 1px solid #ffffff1a;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
}

.ms-video-card-play-container::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 50%;
}

.ms-video-card-play {
    position: relative;
    z-index: 1;
}

.ms-section--blue {
    background: linear-gradient(90deg, #00739c 0%, #005c7d 100%);
}

.ms-section--blue .ms-title {
    color: #fff;
}

.ms-section--blue .ms-title::before {
    background: #fff;
}

.ms-section--blue .ms-news-card-title {
    color: #fff;
}

.ms-section--blue .ms-news-card-date {
    color: #7fb4c7;
}

.ms-section--blue .ms-news-card-link {
    color: #e5e7eb;
}

.ms-section--blue .swiper-pagination-bullet {
    background: #fff;
}

.ms-section--blue .swiper-pagination-bullet-active {
    background: #acacac;
}

.ms-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
    background: #000000b2;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.ms-modal.active {
    opacity: 1;
    visibility: visible;
}

body:has(.ms-modal.active) {
    overflow: hidden;
}

.ms-modal-close {
    position: absolute;
    left: 15px;
    top: 15px;
    cursor: pointer;
}

.ms-section-swiper {
    overflow: hidden;
}

.ms-video-modal-iframe {
    aspect-ratio: 9 / 16;
    max-height: calc(100% - 200px);
    height: 100%;
    max-width: 100%;
}

.ms-footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.ms-footer-links {
    display: flex;
    gap: 15px;
}

.ms-font-center {
    text-align: center;
}

.ms-font-white {
    color: #fff;
}

.ms-flip-card {
    perspective: 1000px;
}

.ms-flip-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    display: inline-block;
}

.ms-flip-card:hover .ms-flip-wrapper {
    transform: rotateY(180deg);
}

.ms-flip-front,
.ms-flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.ms-flip-back {
    transform: rotateY(180deg);
}

.ms-main-helpful {
    position: relative;
    overflow: hidden;
}

.ms-main-helpful-background {
    height: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.ms-main-helpful-cards {
    display: flex;
    justify-content: space-between;
}

.ms-main-helpful-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 15px;
}

.ms-main-helpful-text {
    text-align: center;
    max-width: 100px;
}

.ms-main-helpful-icon {
    width: 70px;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--yellow);
    border: 1px solid #fff;
    box-shadow: 0px 4px 4px 0px #0000001a;
    transition: transform 0.4s ease-out;
}

.ms-main-helpful-card:hover .ms-main-helpful-icon {
    transform: rotateY(180deg);
}

.ms-section--preview-mini {
    background-size: cover;
    background-position: center;
}

.ms-blue-opacity-back {
    position: relative;
}

.ms-blue-opacity-back::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00739c;
    opacity: 0.5;
}

.ms-blue-opacity-back > div {
    position: relative;
    z-index: 1;
}

.ms-container--preview-mini {
    height: 303px;
}

.ms-container--preview-mini {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.ms-breadcrumbs {
    display: flex;
    align-items: center;
    gap: 8px;
}

.ms-breadcrumb {
    color: #fff;
    font: 500 14px/1 var(--font-m);
}

.ms-search {
    width: 100%;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    position: relative;
    top: -100px;
    z-index: 1;
    gap: 12px;
    display: flex;
}

.ms-shadow {
    box-shadow: 0px 0px 30px 0px #9d9d9d61;
}

.ms-search-wrapper {
    height: 55px;
    border: 1px solid var(--blue);
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-block: 17px;
    padding-inline: 25px;
    width: 100%;
}

.ms-search-input {
    width: 100%;
    color: var(--blue);
    font: 700 18px/1 var(--font-m);
}

.ms-search-btn {
    cursor: pointer;
}

.ms-circle-filters {
    display: flex;
    gap: 7px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.ms-circle-filter-label {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    transition: 0.2s ease;
}

.ms-circle-filter-label:has(.ms-circle-filter-input:checked) {
    background: var(--blue);
    color: #fff;
}

.ms-circle-filter-input {
    display: none;
}

.ms-circle-filer-text {
    font: 700 18px/1 var(--font-m);
}

.ms-active-filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 36px;
}

.ms-active-filter {
    position: relative;
    background: var(--blue);
    padding: 5px 15px;
    border-radius: 5px;
}

.ms-active-filter-text {
    color: #fff;
    font: 400 16px/1 var(--font-m);
}

.ms-active-filter-remove {
    cursor: pointer;
    position: absolute;
    top: 3px;
    inset-inline-end: 5px;
}

.ms-search-content {
    display: grid;
    grid-template-columns: 35% 65%;
    gap: 20px;
}

.ms-result-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding-inline-start: 30px;
    border-inline-start: 1px solid #d9d9d9;
}

.ms-result-list-item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    font: 700 20px/1 var(--font-m);
    padding: 10px 15px;
    border: 1px solid var(--blue);
    border-radius: 15px;
}

.ms-result-categories {
    display: flex;
    flex-direction: column;
}

.ms-result-category {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    color: var(--blue);
    font: 700 20px/1 var(--font-m);
    border-top: 1px solid var(--blue);
    transition: 0.2s ease;
    cursor: pointer;
}

.ms-result-category:last-child {
    border-bottom: 1px solid var(--blue);
}

.ms-result-category svg {
    fill: var(--blue);
    transition: 0.2s ease;
}

.ms-result-category.active {
    border-color: transparent;
    width: 100%;
    background: #00739c5c;
    color: #fff;
    border-start-end-radius: 50px;
    border-end-end-radius: 50px;
}

.ms-result-category.active svg {
    fill: #fff;
}

.ms-result-category.active + .ms-result-category {
    border-top: 1px solid transparent;
}

.ms-section--search {
    position: relative;
}

.ms-section--search .ms-section--search-background {
    position: absolute;
    height: 90%;
    left: 0;
    bottom: 0;
}

.ms-select {
    position: relative;
    width: 100%;
}

.ms-select-choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 25px;
    padding-inline-start: 15px;
    border: 1px solid var(--blue);
    border-radius: 15px;
    height: 55px;
}

.ms-select-result {
    position: absolute;
    top: calc(100% + 5px);
    width: 100%;
    border: 1px solid var(--blue);
    border-radius: 15px;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease;
}

.ms-select.active .ms-select-result {
    opacity: 1;
    visibility: visible;
} 

.ms-select-search {
    padding: 20px 15px 15px;
    border-bottom: 1px solid #B9B9B9;
}

.ms-select-search-container {
    padding-block: 5px;
    padding-inline: 10px;
    border-radius: 15px;
    border: 1px solid #acacac;
    display: flex;
    gap: 5px;
}

.ms-select-search-input {
    width: 100%;
    font: 400 14px/1 var(--font-m);
}

.ms-select-search-btn {
    cursor: pointer;
}

.ms-select-variants {
    display: flex;
    flex-direction: column;
}

.ms-select-variant {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    cursor: pointer;
    border-bottom: 1px solid #F6F6F6;
}

.ms-select-variant-input {
    display: none;
}

.ms-select-variant-custom-input {
    width: 20px;
    height: 20px;
    border: 1px solid #565656;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ms-select-variant-custom-input svg {
    flex-shrink: 0;
    opacity: 0;
    transition: opacity .1s ease;
}

.ms-select-variant-input:checked + .ms-select-variant-custom-input svg {
    opacity: 1;
}

.ms-select-btn {
    margin: 15px auto;
}

.ms-btn--blue {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font: 400 16px/1 var(--font-n);
    border-radius: 50px;
    background: var(--blue);
    padding: 10px 35px;
}

.ms-select-variant-text {
    font: 400 16px/1 var(--font-n);
}

.ms-select-choice-button {
    cursor: pointer;
}

.ms-doctors {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.ms-doctors-title {
    color: var(--blue);
    border-bottom: 3px solid var(--blue);
    font: 800 40px/1 var(--font-n);
    margin-bottom: 20px;
}

.ms-doctors-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
}

.ms-doctor-card {
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: space-between;
    background: #F6F6F6;
    border-radius: 15px;
    padding: 12px 18px;
    transition: .2s ease;
}

.ms-doctor-card .ms-font-card-title {
    transition: color .2s ease;
}

.ms-doctor-card:hover .ms-font-card-title {
    color: var(--blue);
}

.ms-doctor-card:hover .ms-doctor-arrow {
    background: var(--blue);
}

.ms-doctor-card .ms-doctor-arrow svg {
    transition: .2s ease;
}

.ms-doctor-card:hover .ms-doctor-arrow svg {
    fill: #fff;
}

.ms-doctor-img-container {
    position: relative;
    width: max-content;
}

.ms-doctor-img-container svg {
    position: absolute;
    width: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ms-doctor-img {
    position: relative;
}

.ms-doctor-texts {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ms-font-card-title {
    font: 700 26px/1 var(--font-m);
}

.ms-font--blue {
    color: var(--blue);
}

.ms-font--grey {
    color: #565656;
}

.ms-doctor-arrow {
    width: 40px;
    height: 40px;
    border: 1px solid var(--blue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s ease;
}

.ms-doctor-arrow svg {
    flex-shrink: 0;
    fill: var(--blue);
}

.ms-doctor-btn {
    margin: 0 auto;
}

.ms-btn--transparent-blue {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid var(--blue);
    color: var(--blue);
    font: 400 16px/1 var(--font-n);
    width: max-content;
    padding: 10px 25px;
}