.ms-home-preview {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.ms-home-preview-video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease;
}

.ms-home-preview-video.active {
    opacity: 1;
}

.ms-home-preview::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(
        270deg,
        rgba(1, 48, 65, 0.65) 0%,
        rgba(1, 48, 65, 0.13) 27.52%,
        rgba(1, 48, 65, 0.65) 100%
    );
}

.ms-home-preview-swiper {
    overflow: hidden;
    padding: 0 167px;
}

.ms-home-preview-title {
    margin-bottom: 45px;
}

.ms-main-points {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    position: relative;
    top: -200px;
}

.ms-main-points-card {
    aspect-ratio: 1/1;
}

.ms-main-points-card .ms-flip-wrapper {
    border-radius: 22px;
}

.ms-main-points-card .ms-flip-front,
.ms-main-points-card .ms-flip-back {
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 25px 20px 20px;
    border-radius: 22px;
}

.ms-main-points-card .ms-flip-front {
    background: #fff;
}

.ms-main-points-card .ms-flip-back {
    background: var(--blue);
}

.ms-main-points-card-svg {
    max-width: 125px;
}

.ms-main-fast-nav {
    position: relative;
}

.ms-main-fast-nav-back {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.ms-main-fast-nav > div {
    position: relative;
    z-index: 1;
}

.ms-main-nav {
    display: flex;
    align-items: center;
    gap: 71px;
}

.ms-main-nav-circles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 75px;
}

.ms-main-nav-circle {
    padding: 25px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.ms-main-nav-circle-border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 125%;
}

.ms-main-nav-circle.green {
    background: #a7cd3c;
}
.ms-main-nav-circle.blue {
    background: #00739c;
}
.ms-main-nav-circle.yellow {
    background: #fdb934;
}
.ms-main-nav-circle.purple {
    background: #92278f;
}

.ms-main-nav-circle.green .ms-main-nav-circle-border {
    color: #a7cd3c;
}
.ms-main-nav-circle.blue .ms-main-nav-circle-border {
    color: #00739c;
}
.ms-main-nav-circle.yellow .ms-main-nav-circle-border {
    color: #fdb934;
}
.ms-main-nav-circle.purple .ms-main-nav-circle-border {
    color: #92278f;
}

.ms-main-nav-circle-text {
    text-align: center;
    max-width: 100px;
}

.ms-main-nav-links {
    display: flex;
    flex-direction: column;
    gap: 23px;
    width: 100%;
    padding-top: 10px;
}

.ms-swiper-main-news,
.ms-swiper-main-articles {
    padding: 0 40px;
}

.ms-news-card,
.ms-video-card {
    opacity: 0.2;
    transition: opacity 0.2s ease;
}

.ms-video-card {
    cursor: default;
    pointer-events: none;
}

.ms-news-card.swiper-slide-active,
.ms-news-card.swiper-slide-next,
.ms-news-card.swiper-slide-next + *,
.ms-video-card.swiper-slide-active,
.ms-video-card.swiper-slide-next,
.ms-video-card.swiper-slide-next + *,
.ms-video-card.swiper-slide-next + * + * {
    opacity: 1;
}

.ms-video-card.swiper-slide-active,
.ms-video-card.swiper-slide-next,
.ms-video-card.swiper-slide-next + *,
.ms-video-card.swiper-slide-next + * + * {
    cursor: pointer;
    pointer-events: all;
}

.ms-swiper-main-news-button-next {
    right: 16px;
}

.ms-swiper-main-news-button-prev {
    left: 16px;
}

.ms-swiper-main-news .ms-swiper-btn,
.ms-swiper-main-articles .ms-swiper-btn {
    transform: translate(0, calc(-50% - 65px));
}

.ms-ms-swiper-main-video-button-next {
    right: 5px;
}

.ms-ms-swiper-main-video-button-prev {
    left: 5px;
}