.ms-home-preview {
    aspect-ratio: 16/9;
    width: 100%;
    background-image: url("../img/c83d22e0a38c642c97a3255e76d9c6f72a158902.png");
    position: relative;
    display: flex;
    align-items: center;
}

.ms-home-preview::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(
        270deg,
        rgba(1, 48, 65, 0.65) 0%,
        rgba(1, 48, 65, 0.13) 27.52%,
        rgba(1, 48, 65, 0.65) 100%
    );
}

.ms-home-preview__border {
    position: absolute;
    bottom: -2px;
    left: 0;
}

.home-preview-swiper {
    overflow: hidden;
    padding: 0 167px;
}

.ms-home-preview-title {
    margin-bottom: 45px;
}

.main-points {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    position: relative;
    top: -130px;
}

.main-points__card {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    padding: 25px 20px 20px;
    background: #fff;
    border-radius: 22px;
    background: #fff;
}

.main-points__card-svg {
    max-width: 125px;
}

.main-fast-nav {
    position: relative;
}

.main-fast-nav__back {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.main-fast-nav > div {
    position: relative;
    z-index: 1;
}

.main-nav {
    display: flex;
    align-items: center;
    gap: 71px;
}

.main-nav__circles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 75px;
}

.main-nav__circle {
    padding: 25px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.main-nav__circle-border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 125%;
}

.main-nav__circle.green {
    background: #a7cd3c;
}
.main-nav__circle.blue {
    background: #00739c;
}
.main-nav__circle.yellow {
    background: #fdb934;
}
.main-nav__circle.purple {
    background: #92278f;
}

.main-nav__circle.green .main-nav__circle-border {
    color: #a7cd3c;
}
.main-nav__circle.blue .main-nav__circle-border {
    color: #00739c;
}
.main-nav__circle.yellow .main-nav__circle-border {
    color: #fdb934;
}
.main-nav__circle.purple .main-nav__circle-border {
    color: #92278f;
}

.main-nav__circle-text {
    text-align: center;
    max-width: 100px;
}

.main-nav__links {
    display: flex;
    flex-direction: column;
    gap: 23px;
    width: 100%;
}

.swiper-main-news, .swiper-main-articles {
    padding: 0 40px;
}

.main-helpful {
    position: relative;
    overflow: hidden;
}

.main-helpful__background {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.main-helpful-cards {
    display: flex;
    justify-content: space-between;
}

.main-helpful-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 15px;
}

.main-helpful-text  {
    text-align: center;
    max-width: 100px;
}

.main-helpful-icon {
    width: 70px;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--yellow);
    border: 1px solid #fff;
    box-shadow: 0px 4px 4px 0px #0000001A;
}