.ms-home-preview {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.home-preview__video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease;
}

.home-preview__video.active {
    opacity: 1;
}

.ms-home-preview::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(
        270deg,
        rgba(1, 48, 65, 0.65) 0%,
        rgba(1, 48, 65, 0.13) 27.52%,
        rgba(1, 48, 65, 0.65) 100%
    );
}

.ms-home-preview__border {
    position: absolute;
    bottom: -2px;
    left: 0;
    z-index: 1;
}

.home-preview-swiper {
    overflow: hidden;
    padding: 0 167px;
}

.ms-home-preview-title {
    margin-bottom: 45px;
}

.main-points {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    position: relative;
    top: -200px;
}

.main-points__card {
    aspect-ratio: 1/1;
}

.main-points__card .ms-flip-wrapper {
    border-radius: 22px;
}

.main-points__card .ms-flip-front,
.main-points__card .ms-flip-back {
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 25px 20px 20px;
    border-radius: 22px;
}

.main-points__card .ms-flip-front {
    background: #fff;
}

.main-points__card .ms-flip-back {
    background: var(--blue);
}

.main-points__card-svg {
    max-width: 125px;
}

.main-fast-nav {
    position: relative;
}

.main-fast-nav__back {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.main-fast-nav > div {
    position: relative;
    z-index: 1;
}

.main-nav {
    display: flex;
    align-items: center;
    gap: 71px;
}

.main-nav__circles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 75px;
}

.main-nav__circle {
    padding: 25px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.main-nav__circle-border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 125%;
}

.main-nav__circle.green {
    background: #a7cd3c;
}
.main-nav__circle.blue {
    background: #00739c;
}
.main-nav__circle.yellow {
    background: #fdb934;
}
.main-nav__circle.purple {
    background: #92278f;
}

.main-nav__circle.green .main-nav__circle-border {
    color: #a7cd3c;
}
.main-nav__circle.blue .main-nav__circle-border {
    color: #00739c;
}
.main-nav__circle.yellow .main-nav__circle-border {
    color: #fdb934;
}
.main-nav__circle.purple .main-nav__circle-border {
    color: #92278f;
}

.main-nav__circle-text {
    text-align: center;
    max-width: 100px;
}

.main-nav__links {
    display: flex;
    flex-direction: column;
    gap: 23px;
    width: 100%;
    padding-top: 10px;
}

.swiper-main-news,
.swiper-main-articles {
    padding: 0 40px;
}

.main-helpful {
    position: relative;
    overflow: hidden;
}

.main-helpful__background {
    height: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.main-helpful-cards {
    display: flex;
    justify-content: space-between;
}

.main-helpful-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 15px;
}

.main-helpful-text {
    text-align: center;
    max-width: 100px;
}

.main-helpful-icon {
    width: 70px;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--yellow);
    border: 1px solid #fff;
    box-shadow: 0px 4px 4px 0px #0000001a;
    transition: transform 0.4s ease-out;
}

.main-helpful-card:hover .main-helpful-icon {
    transform: rotateY(180deg);
}

.ms-news-card,
.ms-video-card {
    opacity: 0.2;
    transition: opacity 0.2s ease;
}

.ms-video-card {
    cursor: default;
    pointer-events: none;
}

.ms-news-card.swiper-slide-active,
.ms-news-card.swiper-slide-next,
.ms-news-card.swiper-slide-next + *,
.ms-video-card.swiper-slide-active,
.ms-video-card.swiper-slide-next,
.ms-video-card.swiper-slide-next + *,
.ms-video-card.swiper-slide-next + * + * {
    opacity: 1;
}

.ms-video-card.swiper-slide-active,
.ms-video-card.swiper-slide-next,
.ms-video-card.swiper-slide-next + *,
.ms-video-card.swiper-slide-next + * + * {
    cursor: pointer;
    pointer-events: all;
}

.swiper-main-news-button-next {
    right: 16px;
}

.swiper-main-news-button-prev {
    left: 16px;
}

.swiper-main-news .ms-swiper-btn,
.swiper-main-articles .ms-swiper-btn {
    transform: translate(0, calc(-50% - 65px));
}

.swiper-main-video-button-next {
    right: 5px;
}

.swiper-main-video-button-prev {
    left: 5px;
}
